<%= form_for(@user, :html => {:id => 'contact_form'}) do |f| %>
  <label for='check1'>
    <%= check_box_tag "foo[]", "1", false, :id => 'check1' %>ITEM1
  </label>
  <label for='check2'>
    <%= check_box_tag "foo[]", "2", false, :id => 'check2' %>ITEM2
  </label>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

