<!DOCTYPE html>
<html>
  <head>
    <title>DeployTest</title>
    <link href="/assets/jquery.pageslide.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="/assets/jquery.js" type="text/javascript"></script>
    <script src="/assets/jquery.pageslide.js?foo=12312" type="text/javascript"></script>
  </head>
  <body>
    experiment
    <a href="http://www.yahoo.co.jp/" id="yahoo">YAHOO</a>
    <script>$("a").pageslide({direction: 'left'});
    </script>

    <div id="#foo">foo</div>
  </body>
</html>
